@charset "utf-8";

body {
  //padding-top: 120px;
  background-image: url("../images/hero-img-1.jpg");
  background-color:rgba(255,255,255,0.8);
  background-blend-mode:lighten;
  margin-left:10px;
  margin-right:10px;
  font-family: 'lilita One',cursive;

/*  font-family: serif;
  font-size: 20px;
  line-height: 1.7;*/
}


/**
 * ***************************************
 * ヘッダー
 * ***************************************
/**
 * ---------------------------------------
 * ヘッダーモジュール
 */




/*コンテナー*/
.container {
  max-width:600px;
  margin: 30px auto;
  text-align:center;
  -webkit-border-radius:6px;
  -moz-border-radius:6px;
  border-radius:6px;
  background-color:#FAFAFA;
}
.head {
  -webkit-border-radius:6px 6px 0px 0px;
  -moz-border-radius:6px 6px 0px 0px;
  border-radius:6px 6px 0px 0px;
  background-color:#0e1559;
  color:#FAFAFA;
}
h2 {
  text-align:center;
  padding:18px 0 18px 0;
  font-size: 1.4em;
}
input {
  margin-bottom:10px;
}
textarea {
  height:100px;
  margin-bottom:10px;
}
input:first-of-type
{
  margin-top:35px;
}
input, textarea {
  font-size: 1em;
  padding: 15px 10px 10px;
  font-family: serif;
  border: 1px solid #cecece;
  background: #d7d7d7;
  color: #0e1559;
  -webkit-border-radius: 15px;
  -moz-border-radius:1 5px;
  border-radius: 15px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 80%;
  max-width: 600px;
}
::-webkit-input-placeholder {
   color: #FAFAFA;
}
:-moz-placeholder {
   color: #FAFAFA;  
}
::-moz-placeholder {
   color: #FAFAFA; 
}
:-ms-input-placeholder {  
   color: #FAFAFA;  
}
button {
  margin-top:15px;
  margin-bottom:25px;
  background-color:#0e1559;
  padding: 12px 45px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  border-radius: 15px;
  border: 1px solid #fff;
  -webkit-transition: .5s;
  transition: .5s;
  display: inline-block;
  cursor: pointer;
  width:30%;
  color:#fff;
}
button:hover, .button:hover {
  background:#97A1FF
}
label.error {
    font-family: serif;
    font-size:1em;
    display:block;
    padding-top:10px;
    padding-bottom:10px;
    background-color:#d89c9c;
    width: 80%;
    margin:auto;
    color: #FAFAFA;
    -webkit-border-radius:6px;
    -moz-border-radius:6px;
    border-radius:6px;
}
/* media queries */
@media (max-width: 700px) {
  label.error {
    width: 90%;
  }
  input, textarea {
    width: 90%;
  }
  button {
    width:90%;
  }
  body {
  //padding-top:10px;
  }  
}
.message {
    font-family: serif;
    font-size:1.1em;
    display:none;
    padding-top:10px;
    padding-bottom:10px;
    background-color:#2ABCA7;
    width: 80%;
    margin:auto;
    color: #FAFAFA;
    -webkit-border-radius:6px;
    -moz-border-radius:6px;
    border-radius:6px;
}