@charset "utf-8";

/* external css: flickity.css */

* { box-sizing: border-box; }

body { font-family: sans-serif; }

.carousel {
  background: #EEE;
	//margin-top: 60px;
}

@media (min-width: 768px) {
	.carousel {
		margin-top: 0px;
	}
}

.carousel-cell {
  max-width: 100%;
  //height: 500px;
  //margin-right: 10px;
  background:#776E6E;
  border-radius: 5px;
  counter-increment: carousel-cell;
}

@media (min-width: 768px) {
	.carousel-cell {
		max-width: 100%;
		height: 750px;
	}
}

.carousel a:hover {
	opacity: 0.8
}

/* cell number 
.carousel-cell:before {
  display: block;
  text-align: center;
 padding-top: 150px;
  content: counter(carousel-cell);
  line-height: 180px;
  font-size: 60px;
  color: white;
}
*/
