@charset "utf-8";

/* ベースのリンクカラー */
a {
	//color: #000;
}

/* レスポンシブイメージと画像下スペース防止 */
img {
	max-width: 100%;
	height: auto;
	vertical-align: bottom;
	/* 画像下のスペースを消す */
}

/* --------------------------------
  0：base
  レイアウトのベーススタイル
-------------------------------- */
body {
	font-family: 'lilita One', cursive;
	font-size: 20px;
	line-height: 1.7;
	margin: 0;
	padding: 0;
}

@media (min-width: 768px) {
	.space1 {
		padding-top: 60px;
	}

	.space2 {
		padding-top: 60px;
	}
}

/**
 * ***************************************
 * ヘッダー
 * ***************************************
/**
 * ---------------------------------------
 * ヘッダーモジュール
 */


/*   News&Topics   */

.contents {
	width: 80%;
	/* padding: 20px 0 10px 10px; */
	margin: 0 auto;
}

.contents-img img {
	margin-right: 10px;
}

@media (min-width: 768px) {
	.contents {
		display: flex;
		width: 100%;
		padding: 50px 0 0 50px;
	}

	.contents-img {
		margin-right: 50px;
	}

	.contents-img img {
		width: 100%;
	}
}

/*　それぞれのタイトルimg*/

.page-title {
	display: flex;
	width: 100%;
	margin: 80px 0 0 0;
	padding: 0;
}

.title img {
	width: 80%;
	padding: 0 0 0 20px;
}



/*-------collection------*/

.main-collection {
	margin-bottom: 5%;
}

.box-1,
.box-2,
.box-3,
.box-4 {
	width: 220px;
	margin: 10% auto 0;
	animation-name: anim_s;
	transform: rotate(30deg);
	animation-duration: 5s;
}

.animation {
	animation-timing-function: ease-in-out;
	animation-iteration-count: infinite;
	animation-direction: alternate;
	animation-duration: 3.0s;
}


@keyframes anim_s {
	50% {
		transform: rotate(-30deg);
	}

	100% {
		transform: rotate(30deg);
	}
}




@media (min-width: 768px) {
	.main-collection {
		width: 100%;
		display: flex;
	}

	.box-1,
	.box-2,
	.box-3,
	.box-4 {
		width: 250px;
	}
}



/*フッター*/
footer {
	bottom: 0;
}

.page-bottom {
	width: 100px;
	margin: 0 auto;
}

.icon {
	display: flex;
}

.sns-icon {
	padding: 0 5px;
}


.copyright {
	text-align: center;
	font-size: 8px;
}